* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, asider {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: -1;
  font-size: 14px;
  -ms-text-size-adjust: -100%;
  -moz-text-size-adjust: -100%;
  -webkit-text-size-adjust: -100%;
}

input, button, textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.btn {
  width: 228px;
  height: 59px;
  background: #0D606F;
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.subtitle {
  color: #F2785C;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  font-size: 40px;
}

section {
  width: 100%;
}

.container {
  width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: url(./assets/images/main-bg.png) center top no-repeat, url(./assets/images/footer-bg.png) center bottom no-repeat;
}
@media screen and (max-width: 390px) {
  .container {
    width: 390px;
    background-image: url(./assets/images/mobile-bg.png), url(./assets/images/mobile-footer-bg.png);
    background-size: contain;
  }
  .container .subtitle {
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
  }
}

header {
  width: 1440px;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}
@media screen and (max-width: 390px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    width: 390px;
    background: transparent;
    box-shadow: none;
  }
  header .logo-text {
    display: none;
  }
  header .navigation-list {
    display: none;
  }
  header .btn-login {
    display: none;
  }
  header .burger-menu-container {
    display: block;
  }
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.explore-container {
  width: 61.4349775785%;
  margin-left: 8.3333333333%;
  margin-top: 32px;
  margin-bottom: 290px;
}
@media screen and (max-width: 390px) {
  .explore-container {
    width: 90%;
    margin-bottom: 80px;
    margin-left: 0;
  }
  .explore-container .title {
    display: none;
  }
  .explore-container .text-explore {
    display: none;
  }
}

.title {
  font-family: "Aleo", serif;
  font-weight: 700;
  font-size: 5rem;
  line-height: 96px;
  color: #fff;
}

@media screen and (max-width: 390px) {
  .section-explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.text-explore {
  font-family: "Aleo", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin: 46px 0;
}

.search {
  width: 100%;
  height: 95px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
  text-indent: 3%;
}
.search::placeholder {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
  text-indent: 3%;
}
@media screen and (max-width: 390px) {
  .search {
    height: 50px;
  }
  .search::placeholder {
    font-family: "Aleo", serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}

.search-container {
  position: relative;
}
.search-container .btn-search {
  position: absolute;
  right: 2%;
  top: 20%;
}

.section-steps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 100px;
}
@media screen and (max-width: 390px) {
  .section-steps {
    margin-bottom: 20px;
  }
  .section-steps .steps-container {
    width: 90%;
  }
  .section-steps .steps-img {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
  }
  .section-steps .text-steps {
    font-family: "Aleo", serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
  }
  .section-steps .steps-img-container {
    width: 28.2051282051%;
  }
}

.steps-container {
  width: 81.7361111111%;
  margin-top: 40px;
}

.steps-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.steps-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.steps-img {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #F2785C;
  border-radius: 16px;
  margin-bottom: 30px;
}

.section-destination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media screen and (max-width: 390px) {
  .section-destination .destination-img {
    height: 210px;
    width: 90vw;
  }
  .section-destination .destination-container {
    height: 210px;
    width: 90vw;
    overflow: hidden;
  }
  .section-destination .city-name {
    position: absolute;
    top: 5%;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
  }
  .section-destination .destination-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .section-destination .arrow-left {
    display: block;
  }
  .section-destination .arrow-right {
    display: block;
  }
  .section-destination .arrow-destination-right {
    transform: scaleX(-1);
  }
  .section-destination .btn-destination {
    position: absolute;
    left: 50%;
    bottom: -30px;
    width: 30px;
    height: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }
}

.destination-container {
  width: 235%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 25px;
  height: 800px;
}

.arrow-left {
  position: absolute;
  display: none;
  width: 20px;
  height: 50px;
  z-index: 1;
  top: 50%;
  left: 20px;
  cursor: pointer;
}

.arrow-right {
  position: absolute;
  display: none;
  top: 50%;
  left: 300px;
  width: 20px;
  height: 50px;
  cursor: pointer;
}

.pictures-destination {
  position: relative;
}

.destination-img {
  width: 95%;
  height: 800px;
  border-radius: 16px;
  cursor: pointer;
}

.city-name {
  position: absolute;
  bottom: 5%;
  left: 2%;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #fff;
}

.btn-destination {
  width: 80px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.btn-circle {
  height: 100%;
  width: 25%;
  background-color: rgba(242, 120, 92, 0.5);
  border-radius: 100%;
}

.active {
  background-color: #F2785C;
}

.section-stories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 20px;
}
@media screen and (max-width: 390px) {
  .section-stories {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .section-stories .img-stories {
    margin-right: 10px;
  }
  .section-stories .heading-stories {
    font-family: "Aleo", serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
  }
  .section-stories .text-stories {
    font-family: "Aleo", serif;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
  }
  .section-stories .stories-container {
    width: 90%;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .section-stories .stories-background {
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 15px;
  }
  .section-stories .stories-img-container {
    margin-bottom: 10px;
  }
}

.stories-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 40px;
  padding-bottom: 30px;
}

.stories-container {
  width: 83.3333333333%;
  margin-top: 40px;
  margin-bottom: 30px;
}

.stories-img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px;
}

.img-stories {
  border-radius: 16px;
  margin-right: 40px;
}

.container-stories-text {
  position: relative;
}

.more {
  display: none;
}

.link-read-more {
  font-family: "Aleo", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #0D606F;
  cursor: pointer;
}
@media screen and (max-width: 390px) {
  .link-read-more {
    font-family: "Aleo", serif;
    font-weight: 700;
    font-size: 11px;
  }
}

footer {
  width: 100%;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 20px;
}
@media screen and (max-width: 390px) {
  footer {
    height: 65px;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  footer .footer-text {
    display: none;
  }
  footer .footer-logo-container {
    width: 35.8974358974%;
    margin-right: 0;
    margin-left: 0;
  }
}

.footer-logo-container {
  width: 9.7222222222%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 8.3333333333%;
  margin-left: 20.8333333333%;
  cursor: pointer;
}

.logo-text {
  font-family: "Magra", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #fff;
}

.navigation {
  width: 36.5972222222%;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list-items {
  position: relative;
}
.list-items::after {
  bottom: -10px;
  transform-origin: center;
}
.list-items::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #fff;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.list-items:hover::after {
  transform: scaleX(1);
}

.heading-stories {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #0D606F;
}

.btn {
  line-height: 32px;
}
.btn:hover {
  background-color: #094651;
}
@media screen and (max-width: 390px) {
  .btn {
    width: 92px;
    height: 30px;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    font-size: 11px;
  }
}

.btn-login {
  width: 103px;
  height: 41px;
  background: #0D606F;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}
.btn-login:hover {
  background-color: #094651;
}

.subtitle {
  line-height: 53px;
}

.text-stories, .text-steps {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

/* burger menu */
.burger-menu-container {
  display: none;
  height: 17px;
}

.burger-line {
  position: absolute;
  top: 48px;
  right: 15px;
  width: 26px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.3s all;
}

.second {
  top: 56px;
}

.third {
  top: 64px;
}

.burger-nav-menu-container {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.burger-nav-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  width: 165px;
  height: 250px;
  background-color: #F2785C;
  border-radius: 10px;
  padding: 16px 15px 0 0;
  transition: 0.3s;
}

.list-items-nav-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  margin-right: 10px;
}

.list-items-nav {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: white;
  text-align: right;
  padding-bottom: 10px;
}

.list-items-nav:hover {
  font-size: 17px;
  transition: 0.2s;
}

.icon-close {
  margin-left: 16px;
  margin-bottom: 15px;
}

.popup-container {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: -1000px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  transition-duration: 0.7s ease;
}

.popup {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45.1388888889%;
  height: 660px;
  border-radius: 16px;
  background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease;
}
@media screen and (max-width: 750px) {
  .popup {
    width: 70%;
    height: 60%;
  }
}
@media screen and (max-width: 390px) {
  .popup {
    width: 90%;
    height: 80%;
  }
}

.form-login {
  width: 100%;
  height: 100%;
  padding: 25px 45px;
}
@media screen and (max-width: 390px) {
  .form-login {
    padding: 12px 22px;
  }
}

.heading-popup {
  font-family: "Aleo", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #0D606F;
  text-align: center;
}
@media screen and (max-width: 390px) {
  .heading-popup {
    font-size: 22px;
  }
}

.btn-popup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10.1818181818%;
  border: none;
  border-radius: 10px;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-indent: 15px;
  background-color: #fff;
  cursor: pointer;
}
.btn-popup:hover {
  border: 1px solid #0D606F;
}
@media screen and (max-width: 390px) {
  .btn-popup {
    height: 7.8321678322%;
  }
}

.btn-facebook {
  background-color: #1877F2;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #fff;
}
.btn-facebook:hover {
  background-color: #3b90ff;
}
@media screen and (max-width: 390px) {
  .btn-facebook {
    margin-top: 10px;
  }
}

.label {
  display: block;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0D606F;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  height: 9.8181818182%;
  border: none;
  border-radius: 10px;
  text-indent: 20px;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}
.btn-sign {
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  color: #fff;
  margin-bottom: 10px;
}
.btn-sign:hover {
  background-color: #094651;
}

.text-line {
  font-family: "Aleo", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(13, 96, 111, 0.5);
  vertical-align: top;
  padding: 0 10px;
}

.line {
  background-color: rgba(13, 96, 111, 0.5);
  height: 1px;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.line-container {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.line-last {
  background-color: rgba(13, 96, 111, 0.5);
  height: 1px;
  margin: 15px 0 10px;
}

.text-link {
  font-family: "Aleo", serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #0D606F;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  text-decoration-line: underline;
}

.footer-text-popup {
  font-family: "Aleo", serif;
  font-weight: 700;
  font-size: 15px;
  color: rgba(13, 96, 111, 0.5);
  text-align: center;
}

/* ---------Pop up Sign up----------- */
.popup-sign {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45.1388888889%;
  height: 436px;
  border-radius: 16px;
  background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 750px) {
  .popup-sign {
    width: 70%;
    height: 50%;
  }
}
@media screen and (max-width: 390px) {
  .popup-sign {
    width: 90%;
  }
}

.line-last-sign {
  background-color: rgba(13, 96, 111, 0.5);
  height: 1px;
  width: 100%;
  margin: 26px 0 20px;
}

.heading-sign {
  margin-bottom: 30px;
}
@media screen and (max-width: 390px) {
  .heading-sign {
    margin-bottom: 10px;
  }
}

.btn-sign-section {
  height: 12.8440366972%;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-indent: 15px;
  background: #0D606F;
  color: #FFF;
  cursor: pointer;
}
.btn-sign-section:hover {
  background-color: #094651;
}

.input-sign {
  height: 12.3853211009%;
  width: 100%;
  border: none;
  border-radius: 10px;
  text-indent: 20px;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
