@import "nullstyle.scss";
@import "modules.scss";

//  sass style.scss style.css
section{
  width: 100%;
}

.container{ 
  width: 1440px;
  @include flex(flex,column,center,center);
  margin: 0 auto;
  background: url(./assets/images/main-bg.png) center top no-repeat, url(./assets/images/footer-bg.png) center bottom no-repeat;
  @media screen and (max-width: $mobile){
    .subtitle{
      @include font($font-red,500,14px);
      line-height: 19px;
    }

    width: 390px;
    background-image: url(./assets/images/mobile-bg.png), url(./assets/images/mobile-footer-bg.png);
    background-size: contain;
  }
}

header{
  width: 1440px;
  height: 90px;
  @include flex(flex,row,space-around,center);
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);

  @media screen and (max-width: $mobile){
    @include flex(flex,row,space-between,center);
    padding-left: 5%;
    width: 390px;
    background: transparent;
    box-shadow: none;

    .logo-text{
      display: none;
    }

    .navigation-list{
      display: none;
    }

    .btn-login{
      display: none;
    }

    .burger-menu-container {
      display: block;
    }
  }
}

.logo-container{
  @include flex(flex,row,space-between,center);
}

.explore-container{
  width: calc(548px / 892px * 100%);
  margin-left: calc(120px / 1440px * 100%);
  margin-top: 32px;
  margin-bottom: 290px;

  @media screen and (max-width: $mobile){
    width: 90%;
    margin-bottom: 80px;
    margin-left: 0;
    .title{
      display: none;
    }

    .text-explore{
      display: none;
    }
  }
}

.title{
  @include font($font-aleo,700,5rem);
  line-height: 96px;
  color: #fff;
}

.section-explore{
  @media screen and (max-width: $mobile){
    @include flex(flex,column,center,center);
  }
}

.text-explore{
  @include font($font-aleo,700,20px);
  line-height: 24px;
  color: #fff;
  margin: 46px 0;
}

.search{
  width: 100%;
  height: 95px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;

  @include font($font-aleo,400,24px);
    line-height: 29px;
    color: $main-color;
    text-indent: 3%;

  &::placeholder{
    @include font($font-aleo,400,24px);
    line-height: 29px;
    color: $main-color;
    text-indent: 3%;
  }

  @media screen and (max-width: $mobile){
    height: 50px;

    &::placeholder{
      @include font($font-aleo,400,14px);
      line-height: 16px;
    }
  }
}

.search-container{
  position: relative;

  .btn-search{
    position: absolute;
    right: 2%;
    top: 20%;
  }
}

.section-steps{
  @include flex(flex,column,space-between,center);
  margin-top: 20px;
  margin-bottom: 100px;

  @media screen and (max-width: $mobile){
    margin-bottom: 20px;

    .steps-container{
      width: 90%;
    }

    .steps-img{
      width: 70px;
      height: 70px;
      margin-bottom: 20px;
    }

    .text-steps{
      @include font($font-aleo,400,11px);
      line-height: 12px;
    }

    .steps-img-container{
      width: calc( 110px / 390px *100%);
    }
  }
}

.steps-container{
  width: calc( 1177px / 1440px * 100%);
  margin-top: 40px;
}

.steps-icon-container{  
  @include flex(flex,row,space-between,center);
}

.steps-img-container{
  @include flex(flex,column,center,center);
}

.steps-img{
  width: 100px;
  height: 100px;
  @include flex(flex,row,center,center);
  background-color: $main-color;
  border-radius: 16px;
  margin-bottom: 30px;
}

.section-destination{
  @include flex(flex,column,center,center);
  overflow: hidden;

  @media screen and (max-width: $mobile){
    .destination-img{
      height: 210px;
      width: 90vw;
     
    }

    .destination-container{
      height: 210px;
      width: 90vw;
      overflow: hidden;
    }

    .city-name{
      position: absolute;
      top: 5%;
      @include font($font-red,500,20px);
      line-height: 25px;
    }

    .destination-container{
      @include flex(flex,row,left,center);
      position: relative;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .arrow-left{
      display: block;
    }
    
    .arrow-right{
      display: block;
    }

    .arrow-destination-right{
      transform: scaleX(-1);
    }
    
    .btn-destination{
      position: absolute;
      left: 50%;
      bottom: -30px;
      width: 30px;
      height: 8px;
      @include flex(flex,row,space-between,center);
      margin-bottom: 0;
    }
  }
}

.destination-container{
  width: 235%;
  @include flex(flex,row,center,center);
  margin-top: 45px;
  margin-bottom: 25px;
  height: 800px;

}

.arrow-left{
  position: absolute;
  display: none;
  width: 20px;
  height: 50px;
  z-index: 1;
  top: 50%;
  left: 20px;
  cursor: pointer;
}

.arrow-right{
  position: absolute;
  display: none;
  top: 50%;
  left: 300px;
  width: 20px;
  height: 50px;
  
  cursor: pointer;
}

.pictures-destination{
  position: relative;
}

.destination-img{
  width: 95%;
  height: 800px;
  border-radius: 16px;
  cursor: pointer;
}

.city-name{
  position: absolute;
  bottom: 5%;
  left: 2%;
  @include font($font-red,500,32px);
  line-height: 42px;
  color: #fff;
}

.btn-destination{
  width: 80px;
  height: 20px;
  @include flex(flex,row,space-between,center);
  margin-bottom: 40px;
}

.btn-circle{
  height: 100%;
  width: 25%;
  background-color: rgba(242, 120, 92, 0.5);
  border-radius: 100%
 }

 .active{
  background-color: $main-color;
}

.section-stories{
  @include flex(flex,column,center,center);
  margin-top: 80px;
  margin-bottom: 20px;

  @media screen and (max-width: $mobile){
    margin-top: 20px;
    margin-bottom: 0;
    .img-stories{
      margin-right: 10px;
    }

    .heading-stories{
      @include font($font-aleo,400,11px);
      line-height: 13px;
    }

    .text-stories{
      @include font($font-aleo,400,9px);
      line-height: 11px;
    }

    .stories-container{
      width: 90%;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
    }

    .stories-background{
      margin-top: 10px;
      margin-bottom: 0;
      padding-bottom: 5px;
      padding-top: 15px;
    }

    .stories-img-container{
      margin-bottom: 10px;
      overflow: hidden;
    }
  }
  
}

.stories-background{
  @include flex(flex,column,center,center);
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 40px;
  padding-bottom: 30px;
}

.stories-container{
  width: calc( 1200px / 1440px * 100%);
  margin-top: 40px;
  margin-bottom: 30px;
}

.stories-img-container{
  @include flex(flex,row,center,flex-start);
  margin-bottom: 30px;
}

.img-stories{
  border-radius: 16px;
  margin-right: 40px;
}

.container-stories-text{
  position: relative;
}

.more {
  display: none;
}

.link-read-more{
  @include font($font-aleo,700,20px);
  line-height: 24px;
  text-decoration-line: underline;
  color: $primary-color;
  cursor: pointer;

  @media screen and (max-width: 390px){
    @include font($font-aleo,700,11px);
  }
}

footer{
  width: 100%;
  @include font($font-red,500,16px);
  @include flex(flex,row,flex-end,center);
  padding-bottom: 20px;

  @media screen and (max-width: $mobile) { 
      height: 65px;
      padding-bottom: 0;
      @include flex(flex,row,center,center);

      .footer-text{
        display: none;
      } 

      .footer-logo-container{
        width: calc( 140px / 390px *100%);
        margin-right: 0;
        margin-left: 0;
      }

  }
}

.footer-logo-container{
  width: calc( 140px / 1440px * 100%);
  @include flex(flex,row,space-between,center);
  margin-right: calc( 120px / 1440px * 100%);
  margin-left: calc( 300px / 1440px * 100%);
  cursor: pointer;
}


.logo-text{
  @include font($font-magra,600,32px);
  line-height: 39px;
  color: #fff;
}

.navigation{
  width: calc( 527px / 1440px * 100%);
  @include font($font-red,500,16px);
  line-height: 21px;
  color: #fff;
}

.navigation-list{
  @include flex(flex,row,space-between,center);
  
}

.list-items{
  position: relative;

  &::after {
    bottom: -10px;
    transform-origin: center;
  }
  &::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
  }
  &:hover::after {
      transform: scaleX(1);
  }
}

.heading-stories{
  @include font($font-aleo,400,35px);
  line-height: 42px;
  color: $primary-color;
} 

.btn{
  @extend %tpl-main-btn;
  line-height: 32px;
  &:hover{
    background-color: $hover-primary-color;
  }

  @media screen and (max-width: $mobile){
    width: 92px;
    height: 30px;
    @include font($font-red,500,11px);
  }
}

.btn-login{
  width: 103px;
  height: 41px;
  background: $primary-color;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px; 
  @include font($font-red,500,16px);
  line-height: 21px;
  &:hover{
    background-color: $hover-primary-color;
  }
}

.subtitle{
  @extend %tpl-subtitle;
  line-height: 53px;
}

.text-stories,.text-steps{
  @include font($font-aleo,400,20px);
  max-height: 180px;
  line-height: 24px;
  color: $primary-color;
}

/* burger menu */

.burger-menu-container {
  display: none;
  height: 17px;
}

.burger-line{
  position: absolute;
  top: 48px;
  right: 15px;
  width: 26px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transition: .3s all;
}

.second  {
  top: 56px;
}

.third {
  top: 64px;
}


.burger-nav-menu-container {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.burger-nav-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  width: 165px;
  height: 250px;
  background-color: #F2785C;
  border-radius: 10px;
  padding: 16px 15px 0 0;
  transition: 0.3s;
}

.list-items-nav-container{
  @include flex(flex,column,flex-end,end);
  margin-right: 10px;
}

.list-items-nav {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffff;
  text-align: right;
  padding-bottom: 10px;
}

.list-items-nav:hover {
  font-size: 17px;
  transition: 0.2s;
}
.icon-close {
  margin-left: 16px;
  margin-bottom: 15px;
}

//popup
.popup-container {
  width: 100%;
  height: 100%; 
  @include flex(none,row,center,center);
  background-color: rgb(255, 255, 255,0.5);
  position: fixed;
  top: -1000px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  transition-duration: 0.7s ease;
}

.popup {
  @include flex(none,column,center,center);
  width: calc(650px / 1440px *100%);
  height: 660px;
  border-radius: 16px;
  background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease;
  @media screen and (max-width: 750px){
    width: 70%;
    height: 60%;
  }
  @media screen and (max-width: $mobile){
    width: 90%;
    height: 80%;
  }
}

.form-login{
  width: 100%;
  height: 100%;
  padding: 25px 45px;
  @media screen and (max-width: $mobile){
    padding: 12px 22px;
  }
}

.heading-popup {
  @include font($font-aleo,700,32px);
  line-height: 38px;
  color: $primary-color;
  text-align: center;

  @media screen and (max-width: $mobile){
    font-size: 22px;
  }
}

.btn-popup {
  @include flex(flex,row,center,center);
  width: 100%;
  height: calc(56px /550px *100%);
  border: none;
  border-radius: 10px;
  @include font($font-red,400,20px);
  line-height: 26px;
  text-indent: 15px;
  background-color: #fff;
  cursor: pointer;

  &:hover{
    border: 1px solid $primary-color;
  }

  @media screen and (max-width: $mobile){
    height: calc(56px /(550px + 55px*3) *100%);
  }
}

.btn-facebook {
  background-color: #1877F2;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #fff;

  &:hover{
    background-color: #3b90ff;
  }

  @media screen and (max-width: $mobile){
    margin-top: 10px;
  }
}

.label {
  display: block;
  @include font($font-aleo,400,16px);
  line-height: 19px;
  color: $primary-color;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  height: calc(54px /550px *100%);
  border: none;
  border-radius: 10px;
  text-indent: 20px;
  @include font($font-aleo,400,20px);
  margin-bottom: 20px;

  @media screen and (max-width: $mobile){
    
  }
}

.btn-sign {
  background: $primary-color;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  color: #fff;
  margin-bottom: 10px;

  &:hover{
    background-color: $hover-primary-color;
  }
}

.text-line{
  @include font($font-aleo,700,20px);
  line-height: 24px;
  color: rgba(13, 96, 111, 0.5);
  vertical-align: top;
  padding: 0 10px;
}

.line {
  background-color: rgba(13, 96, 111, 0.5);
  height: 1px;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.line-container {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.line-last {
  background-color: rgba(13, 96, 111, 0.5);
  height: 1px;
  margin: 15px 0 10px;
}

.text-link {
  @include font($font-aleo,700,15px);
  line-height: 18px;
  color: $primary-color;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  text-decoration-line: underline;
}

.footer-text-popup {
  @include font($font-aleo,700,15px);
  color: rgba(13, 96, 111, 0.5);
  text-align: center;
}

/* ---------Pop up Sign up----------- */

.popup-sign {
  @include flex(none,column,center,center);
  width: calc(650px / 1440px *100%);
  height: 436px;
  border-radius: 16px;
  background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @media screen and (max-width: 750px){
    width: 70%;
    height: 50%;
  }
  @media screen and (max-width: $mobile){
    width: 90%;
  }
}

.line-last-sign {
  background-color: rgba(13, 96, 111, 0.5);
  height: 1px;
  width: 100%;
  margin: 26px 0 20px;
}

.heading-sign{
  margin-bottom: 30px;
  @media screen and (max-width: $mobile){
    margin-bottom: 10px;
  }
}

.btn-sign-section{
  height: calc(56px /436px *100%);
  width: 100%;
  border: none;
  border-radius: 10px;
  @include font($font-red,400,20px);
  line-height: 26px;
  text-indent: 15px;
  background: #0D606F;
  color: #FFF;
  cursor: pointer;

  &:hover{
   background-color: $hover-primary-color;
  }
}

.input-sign{
  height: calc(54px /436px *100%);
  width: 100%;
  border: none;
  border-radius: 10px;
  text-indent: 20px;
  @include font($font-aleo,400,20px);
  margin-bottom: 20px;
}