* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, asider {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: -1;
  font-size: 14px;
  -ms-text-size-adjust: -100%;
  -moz-text-size-adjust: -100%;
  -webkit-text-size-adjust: -100%;
}

input, button, textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.btn {
  width: 228px;
  height: 59px;
  background: #0D606F;
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.subtitle {
  color: #F2785C;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  font-size: 40px;
}

section {
  width: 1440px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(./assets/images/main-bg.png) center top no-repeat, url(./assets/images/footer-bg.png) center bottom no-repeat;
}
@media screen and (max-width: 575px) {
  .container {
    background-image: url(./assets/images/mobile-bg.png), url(./assets/images/mobile-footer-bg.png);
    background-size: contain;
  }
}

header {
  width: 1440px;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.explore-container {
  width: 61.4349775785%;
  margin-left: 8.3333333333%;
  margin-top: 32px;
}

.section-steps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.steps-container {
  width: 81.7361111111%;
}

.steps-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.steps-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-destination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.destination-container {
  width: 175%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.destination-img {
  border-radius: 16px;
}

.section-stories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.stories-img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-text {
  font-family: "Magra", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #fff;
}

.navigation {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: "Aleo", serif;
  font-weight: 700;
  font-size: 5rem;
  line-height: 96px;
  color: #fff;
}

.text-explore {
  font-family: "Aleo", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.city-name {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #fff;
}

.heading-stories {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #0D606F;
}

.btn {
  line-height: 32px;
}

.btn-login {
  width: 103px;
  height: 41px;
  background: #0D606F;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.subtitle {
  line-height: 53px;
}

.text-stories, .text-steps {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

/*# sourceMappingURL=style.css.map */
